.jumbotron{
 width:100%;height: 282px;
 background-color:#FCEC90;color:#F0A986;}
 
.conputer{
  height:auto;width:100%;
  position: relative;top:-40px;z-index: 0;}
.mobile{display: none;max-width: 100%;max-height:90%;
  position: relative;top:-40px;z-index: 0;}
img{width:100%;}

body{background-color: #FCEC90}



.container{}
/*內容頁*/
#contect{}
.vedio}
.info{}
iframe{width:90%;height:320px;margin:auto;}
/*腳*/
h1,h4,.footer{
  text-align:center;
  }

/*以下手機板*/

@media screen  and (max-width: 767px) {
  .conputer{display: none;}
  .mobile{display: block;}
  iframe{width:100%;}
}

@media screen  and (min-width: 768px) {
  
}